.glitch-wrapper {
    width: 177%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
}

.glitch {
   position: relative;
   font-size: 80px;
   font-weight: 700;
   line-height: 1.2;
   color: #fff;
   letter-spacing: 5px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #0ff;
   z-index: -1;
}

.glitch:after {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #ff00ff;
   z-index: -2;
}

@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-3px, 3px);
   }

   40% {
      transform: translate(-3px, -3px);
   }

   60% {
      transform: translate(3px, 3px);
   }

   80% {
      transform: translate(3px, -3px);
   }

   to {
      transform: translate(0);
   }
}

body {
	background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 255, 255));
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Arial, sans-serif;
}
header img{
		width: 17%;
		height: auto;
}
header {
	background-color: #000000;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    width: 98%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1200px;
	/* margin: 0 auto; */
	/* padding: 20px; */
	/* display: flex; */
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

section {
	flex-basis: calc(50% - 10px);
	margin-bottom: 20px;
}

h2 {
	margin-top: 0;
}

img {
	width: 100%;
	height: auto;
}

button {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #444;
}

div#\32 D {
	display: block;
    color: black;
}