@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
body {
  background-image: linear-gradient(
    to right,
    rgb(143, 6, 143),
    rgb(255, 0, 255),
    rgb(0, 255, 255)
  );
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90vh;
  color: white;
}

.container {
  margin: auto;
  height: 110vh;
}

form {
  margin-top: -76vh;
  margin-left: 44vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.input {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  border: none;
}
input {
  background-image: linear-gradient(
    to right,
    rgb(8, 30, 72),
    rgb(9, 44, 93),
    rgb(0, 157, 255)
  );
  border: none;
  margin: 12px;
  border-bottom: 2px solid rgb(227, 157, 227);
  height: 6vh;
  width: 35vh;
  color: rgba(255, 255, 255, 0.874);
  text-align: center;
  font-size: 14px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.785);
  text-align: center;
}
.btn {
  height: 6vh;
  width: 36vh;
  margin-top: 12px;
  margin-left: 1.6vh;
  background-image: linear-gradient(
    to right,
    rgb(8, 30, 72),
    rgb(9, 44, 93),
    rgb(0, 157, 255)
  );
  border: none;
  border-bottom: 2px solid rgb(227, 157, 227);
  color: rgba(255, 255, 255, 0.874);
  text-align: center;
  font-size: 14px;
}
.btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(7, 7, 56),
    rgb(0, 225, 255)
  );
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
  padding: 1.7vh;
}

nav a {
	color: #fff;
	text-decoration: none;
}
header {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  height: 6vh;
  width: 99.5%;
}
body {
  background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 255, 255));
  margin: 0;
  padding: 0;
  overflow-x: hidden;
	font-family: Arial, sans-serif;
}